body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form__component {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 30px auto;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
}

span {
  color: red;
}

input {
  margin: 10px 0;
}